{% extends "catalog/base.html" %}

{% block content %}
    <div class="collections">
        <div></div>
        <div>
            <table>
                <tbody>
                    {% for collection in weapon_collections %}
                        <tr><td>{{ collection.name }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <tbody>
                    {% for collection in armor_collections %}
                        <tr><td>{{ collection.name }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
